/*  clear out our default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2A4C80;
    color: chocolate;
    height: 100vh;
}


/* 1. Set up the outer container -- header footer and main section */
.flex-outer-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 20px;
}

header,
footer {
    height: 60px;
}

main {
    flex: 1; /*60px+60px+flex 1fills up the space, idk what that mean*/
}

h3 {
    font-size: 2em;
    padding-bottom: .68em;
    letter-spacing: .03em;
}

/* On the main section add the grid property */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* establishes 3 columns */
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
}

.flex-layout {
    display: flex;
    border: 2px solid green; 
}

.image-container, 
.content-container {
    width: 50%;
    padding: 20px;
}

.content-container p {
    line-height: 1.5em;
}

img {
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

footer a {
    color: #E4E8E9;
    text-decoration: none;
}